body {
  background-color: #FDFDFA;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 100px; 
}
header{
  display: flex;
  justify-content: space-around;
  width: 80%;
  background-color: whitesmoke;
  padding: 2px;
  margin: auto;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 2px 3px rgb(212, 206, 206);
  /* position: fixed; */
}
.cartShop{
  display: flex;
  align-items: center;
  cursor: pointer;
  position: static;
}
.titleSearch{
  font-size: x-large;
  margin-top: 10px;
  /*  */
}
.nameUser{
  display: flex;
  margin-top: 10px;
  font-size: 20px;
}
.search {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 35%;
}
.search--hide {
  display: none;
}
.search input {
  display: flex;
  border: 1px solid rgb(221, 204, 207);
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.search button {
  display: flex;
  justify-content: center;
  position: static;
  border: 1px solid rgb(221, 204, 207);
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.login {
  display: inline-block;
  padding: 0.5rem;
}
.login--hide {
  display: none;
}
.login input {
  display: block;
  border: 1px solid pink;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.login button {
  display: block;
  border: 1px solid pink;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.login a {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem;
}

.register {
  display: inline-block;
  padding: 0.5rem;
}
.register--hide {
  display: none;
}
.register input {
  display: block;
  border: 1px solid pink;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.register button {
  display: block;
  border: 1px solid pink;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.register a {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem;
}

.feedback {
  color: green;
}
.feedback--error {
  color: red;
}
.feedback--warning {
  color: orange;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(212, 16, 16);
  list-style: none;
}
.results--item {
  width: 30%;
}
.item img {
  background-color: aqua;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 350px;
  height: 350px;
}
span{
  display: flex;
  justify-content: center;
}
/*------------Cart------------*/
.results {
  background-color: #FDFDFA;
  list-style: none;
}
.imgDuck{
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px rgb(245, 243, 243);
  transition: transform 2s, filter 2s ease-in-out;
  transform-origin: center center;
  filter: brightness(99.2%);
}
.imgDuck:hover img {
  filter: brightness(150%);
  transform: scale(1.5);
}

.itemCart{
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 10px;
  cursor: pointer;
}
.itemCart span {
  margin-top: 15px;
}
.priceCart{
  display: flex;
  padding: 10px;
  font-size: 20px;
}
/*---myProducts---*/
.resultsCart {
  background-color: #FDFDFA;
  list-style: none;
}
.resultsItemCart{

  padding: 2px;
  margin: auto;
  margin-top: 1rem;

  width: 81%;
  box-shadow: 0 0 5px 5px rgb(245, 241, 241);
  border-radius: 3px;
  background-color: rgba(50, 96, 114, 0.89);
  padding: 10px;
  margin-left: 110px;
}
.resultsCart {
  list-style: none;
}
.myProductTitle{
  display: flex;
  justify-content: flex-start;
  display: flex;
  padding-left: 15px;
  margin: auto;
}
.myProductTitle span{
  display: flex;
  margin: 20px;
}

.imgCart{
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 1px;
  height: 300px;
  min-width: 400px;
  margin: 40px;
  overflow: hidden; 

  box-shadow: 0px 0px 0px 1px rgb(245, 243, 243);
  transition: transform 2s, filter 2s ease-in-out;
  transform-origin: center center;
  filter: brightness(99.2%);
}
.imgCart:hover img {
  filter: brightness(150%);
  transform: scale(10.5);
}

.textCart{
  padding-top: 80px;
  margin-right: 100px;
  font-size: 18px;
  text-align: left;
  width: 50%;
}
.priceItem{
  display: flex;
  justify-content: space-around;
}
.buttons button{
  display: flex;
  justify-content: end;
  margin-top: 100px;
  margin-right: -100px;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px rgb(218, 212, 212);
}
.logout{
  cursor: pointer;
  margin-top: 10px;
}
/* # sourceMappingURL=style.css.map */ 
