.container__card
    width: 400px
    height: 100%
    margin: 0 20px
    background-color: white
    padding: 10px
    &__imageContainer
        width: 100%
        position: relative
        &__img
            width: 300px
            min-width: 300px
            height: 300px
            min-height: 300px
        &__author
                position: absolute
                background: #272724
                font-size: 12px
                bottom: 0
                padding: 10px
                color: white
                width: 100%
    &__body
        background-color: white
        &__description
            margin-top: 30px