<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo">
            <i class="material-icons">aspect_ratio</i>
            <span>Instagram</span>
        </div>
        <input type="text" placeholder="Search" class="search" />
        <div class="nav-params">
            <i class="material-icons">explore</i>
            <i class="material-icons">favorite_border</i>
            <i class="material-icons">perm_identity</i>
        </div>
    </div>
    <!------------------------>
    <div class="content">
        <div class="posts">
            <div class="post">
                <div class="post-title">
                    <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="imageAvatar">
                    <span>Abdou bousiyd</span>
                    
                </div>
                <div class="post-content">
                    <img src="https://picsum.photos/500/400" alt="imageGoogle">
                    <div class="params">
                        <span>
                            <i class="material-icons favorite">favorite</i>
                            <i class="material-icons">chat_bubble_outline</i>
                        </span>
                        <i class="material-icons">turned_in_not</i>
                    </div>
                <p>hola mundo </p>
                </div>
            </div>
            <div class="post">
                <div class="post-title">
                    <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="imageAvatar">
                    <span>Abdou bousiyd</span>
                </div>
                <div class="post-content">
                    <img src="https://picsum.photos/500/400" alt="imageGoogle">
                <p>hola mundo </p>
                </div>
            </div>
            <div class="post">
                <div class="post-title">
                    <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="imageAvatar">
                    <span>Abdou bousiyd</span>
                </div>
                <div class="post-content">
                    <img src="https://picsum.photos/500/400" alt="imageGoogle">
                <p>hola mundo </p>
                </div>
            </div>
            <div class="post">
                <div class="post-title">
                    <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="imageAvatar">
                    <span>Abdou bousiyd</span>
                </div>
                <div class="post-content">
                    <img src="https://picsum.photos/500/400" alt="imageGoogle">
                <p>hola mundo </p>
                </div>
            </div>
<!----------------4t div---------------------->
        </div>
        <nav>
            <div class="aside">
                <div class="post-title">
                    <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="imageAvatar">
                    <span>Abdou bousiyd</span>
                </div>
                <div class="post-content-right">
                    <div class="post-history">
                        <div class="post-histoy-pub">
                            <span style="color: rgb(144, 144, 163); font-size: 15px;">Historias</span>
                            <span style="font: 13px arial, sans-serif;">Ver todas</span>
                        </div>
                        <div class="post-titls">
                            <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="imageAvatar">
                            <span>Loli ipsum</span>
                        </div>
                        <div class="post-titls">
                            <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="imageAvatar">
                            <span>Lorem ipsum</span>
                        </div>
                        <div class="post-titls">
                            <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="imageAvatar">
                            <span>David ipsum</span>
                        </div>
                    </div>
                </div>
                <nav>
                    <div class="post">
                        <div class="post-content-right">
                            <div class="post-history">
                                <div class="post-histoy-pub">
                                    <span style="color: rgb(144, 144, 163); font-size: 15px;">Historias</span>
                                    <span style="font: 13px arial, sans-serif;">Ver todas</span>
                                </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam repre?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

            </div>
        </nav>


        


    </div>
    
</body>
</html>