<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <i class="material-icons">aspect_ratio</i>
            <span>Instagram</span>
        </div>
        <input type="text" placeholder="Search" class="search" />
        <div class="nav-params">
            <i class="material-icons">explore</i>
            <i class="material-icons">favorite_border</i>
            <i class="material-icons">perm_identity</i>
        </div>
    </div>

<!------>
    <div class="fotos-content-perfil">
        <div class="foto-content">
            <img src="https://picsum.photos/400/300" alt="imageGoogle">
        </div>
                
    </div>     


</body>
</html>