<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo">
            <i class="material-icons">aspect_ratio</i>
            <span>Instagram</span>
        </div>
        <input type="text" placeholder="Search" class="search" />
        <div class="nav-params">
            <i class="material-icons">explore</i>
            <i class="material-icons">favorite_border</i>
            <i class="material-icons">perm_identity</i>
        </div>
    </div>
    <!------------------------>
    <div class="fotos-perfil">
        <div class="">
            <div class="">
                <div class="">
                    <img class="post-imagen" src="https://picsum.photos/500/400" alt="imageGoogle">
                </div>
            </div>

        <!----------------4t div---------------------->
</body>
</html>