@import url('https://fonts.googleapis.com/css?family=Aladin&display=swap');
/* --------header-------- */
* {box-sizing: border-box;}

body{
    margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: ghostwhite;
  height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    align-items: center;
    background: rgb(255, 255, 255);
    height: 10vh;
    width: 100%;
    padding: 0 7%;
    box-shadow: 0px 3px gainsboro;
}
.logo {
    padding-left: 5%;
    display: flex;
    margin: 5px;
    border-radius: 1px solid;
    display: flex;
    width: 20%;
    font-size: 25px;
}
.logo span {
    margin-left: 15px;
    font-family: 'Aladin', cursive;
}
.search {
    justify-content: space-between;
    margin-top: 10px;
    display: flex;
    height: 20px;
    width: 30%;
}
.params {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 95%;
}
.nav-params {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    width: 15%;
}

/* --------2n div--------- */
.content {
    margin-top: 15vh;
    display: flex;
    justify-content: space-around;
}
.post {
    margin-top: 20px;
    background-color: white;
}
.post-content {
    padding: 10px;
}
.post-title {
    display: flex;
    padding: 10px;
}

.post-title span {
    margin: 20px;
}

.post-title img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.favorite {
    color: red;
}
/*-----------3r div---------------*/

.post-content-right {
    background: rgb(255, 255, 255);
    width: 100%;
    padding: 10%;
    border-radius: 5px;
    box-shadow: 0px 3px gainsboro;
}
.post-histoy-pub{
    display: flex;
    justify-content: space-between !important;
    height: 15x;
}

.post-titls {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
.aside {
    width: 350px;
    margin-top: 20px;
    position: fixed;
    margin-left: -180px;
}
.post-titls span {margin: 25px;}
.post-titls img {height: 50px; width: 50px; border-radius: 50%;}












@media only screen and (max-width: 900px) {
    .content {
        display: flex;
        flex-direction: column;
        margin:  0 17%;
    }

    .aside {
        position: relative;
        margin-left: 0;
    }
  }