@import url('https://fonts.googleapis.com/css?family=Aladin&display=swap');
/* --------header-------- */
* {box-sizing: border-box;}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: ghostwhite;
    height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    align-items: center;
    background: rgb(255, 255, 255);
    height: 10vh;
    width: 100%;
    padding: 0 7%;
    box-shadow: 0px 3px gainsboro;
}
.logo {
    padding-left: 5%;
    display: flex;
    margin: 5px;
    font-size: 25px;
}
.logo span {
    margin-left: 15px;
    font-family: 'Aladin', cursive;
}
.search {
    justify-content: space-between;
    margin-top: 10px;
    display: flex;
    height: 20px;
    width: 30%;
}
.params {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 95%;
}
.nav-params {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    width: 15%;
}
/**---------------------**/
.containerFeed {
    margin-top: 15vh;
    display: flex;
    justify-content: space-around;
}
.post-title-feed {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.post-perfil {
    display: flex;
    margin-top: 20px;
}
.button {
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 30%;
    margin-top:25px;
}
.iconParams {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-top:25px;
}
.name {
    display: flex;
    font-size: x-large;    
}

.post-title-feed span {
    margin: 20px;
}

.post-title-feed img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 5px;
}
/* --------2n div--------- */
.container {
    margin-top: 15vh;
    display: flex;
    justify-content: space-around;
}
.post-title {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.post-perfil {
    display: flex;
    margin-top: 20px;
}
.button {
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 30%;
    margin-top:25px;
}
.iconParams {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-top:25px;
}
.name {
    display: flex;
    font-size: x-large;    
}

.post-title span {
    margin: 20px;
}

.post-title img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 5px;
}


/*-----------3r div---------------*/
.aside {
    background-color: white

}
.post-title-aside {
    display: flex;
    justify-content: space-around;
    margin: px;
}
.post-title-aside span {
    display: flex;
    margin-top: 50px;
    font-size: 25px;
}
.post-histoy-pub {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.post-titls {
    padding: 20px;
}
.post-titls span {
    padding: 15px;
}
.post-title-aside img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 25px;
}
.post-titls span {
    margin: 50px;
}
.post-titls img {
    height: 60px; 
    width: 60px; 
    border-radius: 80%;
}
/* -----------fotos content-------------- */
.fotos-content{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
.tq{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    color: blue;
}
.fotos-content-perfil{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
.fotos-content-perfil img{
    display: flex;
    justify-content: space-around;
    height: 600px;
}

/* -------------PROFIL----------- */


@media only screen and (max-width: 900px) {
    .content {
        display: flex;
        flex-direction: column;
        margin:  0 17%;
    }

    .aside {
        position: relative;
        margin-left: 0;
    }
  }