* {box-sizing: border-box;}
body{
    margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: ghostwhite;
}
.header {
    display: flex;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    height: 15vh;
    width: 100%;
    box-shadow: 0px 3px gainsboro;
}
.logo {
    margin: 10px;
    border-radius: 1px solic;
}
.title {
    background: gold;
    margin: 10px;

}
.search {
    background: gold;
    margin: 10px;

}
.params {
    background: gold;
    margin: 10px;

}